{% extends 'index.html' %}
{% block content %}
            <div class="content-2">
                <div class="subjects">
                    <div class="title">
                        <h2>All Courses</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Faculty</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>Introductory General Chemistry</td>
                            <td>CHEM 101</td>
                            <td>Physical Science</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>New Students</h2>
                        <a href="#" class="btn">Add New</a>
                    </div>
                    <table>
                        <tr>
                            <th>Please fill in the form</th>
                        </tr>
                        <tr>
                            <form method="POST" action="">
                                {% for message in messages%}
                                {{message}}
                                {% endfor %}
                                {% csrf_token %}
                                    
                                <td>{{form.as_p}}</td>
                                <td><button type="submit" href="" class="btn">Add Student</button></td>
                            </form>
                        </tr>

                    </table>
                </div>
            </div>
{% endblock %}